# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files to always be normalized
*.md text eol=lf
*.sh text eol=lf
*.py text eol=lf

# Binary files
*.png binary
*.jpg binary
